
@{
    Layout = "~/views/Shared/_LAdmin.cshtml";
}
<div class="center_div" style="display:table-cell; ">

    <div class="center_div center_text">

        <div class="form_row center_div">
        </div>
        <div>
            
              
          
        </div>

    </div>
</div>
<!-- end of center content -->
