@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@model List<MvcApplication4.Models.Brand>*@
<div class="center_title_bar" style="color:firebrick;"><h1>Shipping Information</h1></div>
<div class="center_content">
    <div class="center_title_bar" style="color:firebrick;"><p>Shipping is free in Pakistan all over the country</p></div>
    <div class="center_title_bar" style="color:firebrick;"><p>Extra Charges will be for other countries.</p></div>
@*<div class="prod_box">
    <ul>
        @foreach (var x in Model)
        {
            
          <a href="~/Products/ViewBrand/@x.Id"><li class="odd"><input style=" font-family:'Arial Rounded MT';width: 200px; background-image: url(~/Image/menu_title_bg.gif);" class="even" name="Submit" type="Submit" value="@x.Name" /></li></a>
 
        }
    </ul>
   </div>*@
</div>