@model List<MvcApplication4.Models.Product>

<div class="center_content">
    <div class="center_title_bar">Latest Products</div>
    @foreach (var x in Model)
    {
        <div class="prod_box">
            <div class="top_prod_box"></div>
            <div class="center_prod_box">
                <div class="product_title"><a href="~/Home/DetailProduct/@x.Id">@x.Name</a></div>
                <div class="product_img"><a href="~/Home/DetailProduct/@x.Id"><img src="@Url.Content("~/Images/uploads/img_"+x.Path+"_0.jpg")"width="170" height="150" alt="" border="0" /></a></div>
                <div class="prod_price"><span class="reduce">@(x.Price + 20)$</span> <span class="price">@x.Price$ </span></div>
            </div>
            <div class="bottom_prod_box"></div>
            <div class="prod_details_tab"> <a href="~/Account/Signup" title="header=[Add to cart] body=[&nbsp;] fade=[on]"><img src="~/Images/cart.gif" alt="" border="0" class="left_bt" /></a> <a href="~/Home/DetailProduct/@x.Id" ><p style="border-radius:5px; background-color:firebrick">details</p></a> </div>
        </div>
    }
</div>
<!-- end of center content -->